---
layout: archive
---

{{ content }}

<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .list__item9 {
      position: relative;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      padding: 15px;
      margin: 20px auto;
      width: 100%;
      max-width: 800px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .list__item9:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .list__item9 h2 {
      font-size: 19px;
      margin-bottom: 10px;
      margin-top: 0px;
      color: #333;
      display: inline-block;
    }
    .posts-count9 {
      display: inline-block;
      /* border: 1px solid #515151; */
      color: #515151;
      font-size: 7px;
      padding: 2px 5px;
      margin-left: 3px;
    }
    .toggle9 {
      background: transparent;  
      border: none;  
      outline: none;
      -webkit-tap-highlight-color: transparent;  
      box-shadow: none;  
      width: 100%;  
      height: 100%;  
      text-align: left;  
    }
    .toggle9::-moz-focus-inner {
      border: 0;
    }
    .toggle9:active, .toggle9:focus {
      outline: none;
      border: none;
      box-shadow: none;
      -moz-outline-style: none;
    }
    .archive__container9 {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
      /* 변경: 추가된 코드 */
      overflow: auto;
    }
    .list__item9.open .archive__container9 {
      max-height: 500px;
      transition: max-height 0.5s ease-in;
    }
    .archive__item9 {
      padding: 0;
      margin-bottom: 5px; /* 간격 수정 */
      clear: both;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
    }
    .archive__item-title9 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 0; /* 수정: 마진 제거 */
      padding: 0; /* 수정: 패딩 제거 */
      color: #333;
    }
    .archive__item-title9 a {
      display: inline; /* 수정: 인라인으로 변경 */
      color: #007aff;
      text-decoration: none;
      padding: 0; /* 패딩 수정 */
      margin: 0; /* 마진 수정 */
    }
    .archive__item-title9 a:hover {
      text-decoration: underline;
    }
    .page__meta-date9 {
      font-size: 9px;
    }
    .page__meta-date9 {
      font-size: 9px;
      color: #777;
    }
    .subcategory9 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 5px;
      padding: 10px 0;
      color: #333;
      cursor: pointer;
    }
    .subcategory9:hover {
      text-decoration: underline;
    }
    .archive__item-wrapper9 {
      padding: 10px 0;
    }
    .subcategory-text9 {
      font-size: 7px;
      color: #e6c129;
      margin-left: 3px;
    }
    .archive__item9 a {
      text-decoration: none;
    }
    .list__item9 {
      color: #ffffff;
    }
    .archive__item9 {
      color: #ffffff;
    }
    .archive__item9 a, .archive__item9 time {
      color: #ffffff;
    }
    .posts-count9 {
      color: #ffffff;
    }
    .toggle9 {
      color: #ffffff;
    }
    .container {
      width: 250px;
      height: 250px;
    }
  </style>
</head>




<!-- 
<div class="list__item9" style="position: relative; background-color: #01324b;">
  <button class="toggle9"><h2><img src="{{ site.baseurl }}/images/ImgFile/home_medical.png" usemap="img" width="200" height="200" style="margin-bottom: -10px;"><span class="posts-count9" style="color: #ffff;">📂 Total 1 posts</span></h2></button>
  <div class="archive__container9">
    <div class="archive__item-wrapper9">
      <article class="archive__item9" itemscope="" itemtype="https://schema.org/CreativeWork" data-category="subcategory19">

        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/ADSFASDFADFAFD/" style="color: #ffff;"> 🚀 게시물 이전 중 🚀</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-09-10</time></p>


        <h3><a href="https://umrealengine.github.io/ARTIFICIAL%20INTELLIGENCE%20COURSE/" style="background: linear-gradient(to top, #f5be4f 30%, transparent 30%); font-size: 60%; color: #ffffff; text-decoration: none;">📂 {ARTIFICIAL INTELLIGENCE COURSE} / Structured Data Analysis & Data Visualization</a></h3>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Goorm-01-Python/" style="color: #ffff;"> 📄 [Goorm 01] Python</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-19</time></p>
        
        <h3><a href="https://umrealengine.github.io/Data%20Science/" style="background: linear-gradient(to top, #f5be4f 30%, transparent 30%); font-size: 60%; color: #ffffff; text-decoration: none;">📂 Data Sciecne / Fundamentals of Data Science</a></h3>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-09" style="color: #ffff;"> 📄 [Python Syntax 09] 객체지향 프로그래밍</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-08" style="color: #ffff;"> 📄 [Python Syntax 08] Function, Module</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-07" style="color: #ffff;"> 📄 [Python Syntax 07] 문자열과 내장함수</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-06" style="color: #ffff;"> 📄 [Python Syntax 06] dictionary</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-05" style="color: #ffff;"> 📄 [Python Syntax 05] tuple</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-04" style="color: #ffff;"> 📄 [Python Syntax 04] list</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-03" style="color: #ffff;"> 📄 [Python Syntax 03] 반복문, 조건문</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-02" style="color: #ffff;"> 📄 [Python Syntax 02] 연산자</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-01" style="color: #ffff;"> 📄 [Python Syntax 01] 변수, 연산자</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        

      </article>
    </div>
  </div>
</div>

<div class="list__item9" style="position: relative; background-color: #212529;">
  <button class="toggle9"><h2><img src="{{ site.baseurl }}/images/ImgFile/PPH.png" usemap="img" width="230" height="230" style="margin-bottom: -10px;"><span class="posts-count9" style="color: #ffff;">📂 Total 1 posts</span></h2></button>
  <div class="archive__container9">
    <div class="archive__item-wrapper9">
      <article class="archive__item9" itemscope="" itemtype="https://schema.org/CreativeWork" data-category="subcategory19">

        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/ADSFASDFADFAFD/" style="color: #ffff;"> 🚀 게시물 이전 중 🚀</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-09-10</time></p>

        <h3><a href="https://umrealengine.github.io/ARTIFICIAL%20INTELLIGENCE%20COURSE/" style="background: linear-gradient(to top, #f5be4f 30%, transparent 30%); font-size: 60%; color: #ffffff; text-decoration: none;">📂 {ARTIFICIAL INTELLIGENCE COURSE} / Structured Data Analysis & Data Visualization</a></h3>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Goorm-01-Python/" style="color: #ffff;"> 📄 [Goorm 01] Python</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-19</time></p>
        
        <h3><a href="https://umrealengine.github.io/Data%20Science/" style="background: linear-gradient(to top, #f5be4f 30%, transparent 30%); font-size: 60%; color: #ffffff; text-decoration: none;">📂 Data Sciecne / Fundamentals of Data Science</a></h3>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-09" style="color: #ffff;"> 📄 [Python Syntax 09] 객체지향 프로그래밍</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-08" style="color: #ffff;"> 📄 [Python Syntax 08] Function, Module</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-07" style="color: #ffff;"> 📄 [Python Syntax 07] 문자열과 내장함수</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-06" style="color: #ffff;"> 📄 [Python Syntax 06] dictionary</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-05" style="color: #ffff;"> 📄 [Python Syntax 05] tuple</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-04" style="color: #ffff;"> 📄 [Python Syntax 04] list</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-03" style="color: #ffff;"> 📄 [Python Syntax 03] 반복문, 조건문</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-02" style="color: #ffff;"> 📄 [Python Syntax 02] 연산자</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-01" style="color: #ffff;"> 📄 [Python Syntax 01] 변수, 연산자</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        

      </article>
    </div>
  </div>
</div> -->


<!-- 

<div class="list__item9" style="position: relative; background-color: #000000;">
  <button class="toggle9"><h2><img src="{{ site.baseurl }}/images/ImgFile/MainSql.png" usemap="img" width="118" height="200" style="margin-bottom: -10px;"><span class="posts-count9" style="color: #ffff;">📂 Total 1 posts</span></h2></button>
  <div class="archive__container9">
    <div class="archive__item-wrapper9">
      <article class="archive__item9" itemscope="" itemtype="https://schema.org/CreativeWork" data-category="subcategory19">
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/ADSFASDFADFAFD/" style="color: #ffff;"> 🚀 게시물 이전 중 🚀</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-09-10</time></p>
        <h3><a href="https://umrealengine.github.io/Data%20Science/" style="background: linear-gradient(to top, #f5be4f 30%, transparent 30%); font-size: 60%; color: #ffffff; text-decoration: none;">📂 Data Sciecne / Fundamentals of Data Science</a></h3>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-10/" style="color: #ffff;"> 📄 [SQLD 10] SQL 기본 및 활용-8. PL_SQL</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-06</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-9/" style="color: #ffff;"> 📄 [SQLD 9] SQL 기본 및 활용-7. Multi-Row Function</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-05</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-8/" style="color: #ffff;"> 📄 [SQLD 8] SQL 기본 및 활용-6. Subquery</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-04</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-7/" style="color: #ffff;"> 📄 [SQLD 7]SQL 기본 및 활용-5. Join & Set Operation</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-04</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-6/" style="color: #ffff;"> 📄 [SQLD 6] SQL 기본 및 활용 -4. TCL & DCL</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-03</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-5/" style="color: #ffff;"> 📄 [SQLD 5] SQL 기본 및 활용 -3. Function</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-03</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-4/" style="color: #ffff;"> 📄 [SQLD 4] SQL 기본 및 활용 -2. DDL</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-02</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-3/" style="color: #ffff;"> 📄 [SQLD 3] SQL 기본 및 활용 -1. Basic DML</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-02</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-2/" style="color: #ffff;"> 📄 [SQLD 2] 데이터 모델과 성능</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-01</time></p>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/SQLD-1/" style="color: #ffff;"> 📄 [SQLD 1] 데이터 모델링의 이해</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-01</time></p>
      </article>
    </div>
  </div>
</div> -->



<!-- <div class="list__item9" style="position: relative; background-color: #150458;">
  <button class="toggle9"><h2><img src="{{ site.baseurl }}/images/ImgFile/MainPandas2.png" usemap="img" width="189" height="200" style="margin-bottom: -10px;"><span class="posts-count9" style="color: #ffff;">📂 Total 1 posts</span></h2></button>
  <div class="archive__container9">
    <div class="archive__item-wrapper9">
      <article class="archive__item9" itemscope="" itemtype="https://schema.org/CreativeWork" data-category="subcategory19">
          <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/ADSFASDFADFAFD/" style="color: #ffff;"> 🚀 게시물 이전 중 🚀</a></h3>
          <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-09-10</time></p>
          <h3 style="font-size: 60%;"><a href="https://umrealengine.github.io/SQLD-10/"> 📄 [SQLD 10] SQL 기본 및 활용-8. PL_SQL</a></h3>
          <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-06-06</time></p>
      </article>
    </div>
  </div>
</div> -->


<!-- <div class="list__item9" style="position: relative; background-color: #4c78cf;">
  <button class="toggle9"><h2><img src="{{ site.baseurl }}/images/ImgFile/c.png" usemap="img" width="168" height="200" style="margin-bottom: -10px;"><span class="posts-count9" style="color: #ffff;">📂 Total 1 posts</span></h2></button>
  <div class="archive__container9">
    <div class="archive__item-wrapper9">
      <article class="archive__item9" itemscope="" itemtype="https://schema.org/CreativeWork" data-category="subcategory19">
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/ADSFASDFADFAFD/" style="color: #ffff;"> 🚀 게시물 이전 중 🚀</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-09-10</time></p>
      </article>
    </div>
  </div>
</div> -->


<!-- <div class="list__item9" style="position: relative; background-color: #1d1d1f;">
  <button class="toggle9"><h2><img src="{{ site.baseurl }}/images/ImgFile/python.png" usemap="img" width="200" height="200" style="margin-bottom: -10px;"><span class="posts-count9" style="color: #ffff;">📂 Total 1 posts</span></h2></button>
  <div class="archive__container9">
    <div class="archive__item-wrapper9">
      <article class="archive__item9" itemscope="" itemtype="https://schema.org/CreativeWork" data-category="subcategory19">
        <h3><a href="https://umrealengine.github.io/ARTIFICIAL%20INTELLIGENCE%20COURSE/" style="background: linear-gradient(to top, #f5be4f 30%, transparent 30%); font-size: 60%; color: #ffffff; text-decoration: none;">📂 {ARTIFICIAL INTELLIGENCE COURSE} / Structured Data Analysis & Data Visualization</a></h3>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Goorm-01-Python/" style="color: #ffff;"> 📄 [Goorm 01] Python</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-19</time></p>
        
        <h3><a href="https://umrealengine.github.io/Data%20Science/" style="background: linear-gradient(to top, #f5be4f 30%, transparent 30%); font-size: 60%; color: #ffffff; text-decoration: none;">📂 Data Sciecne / Fundamentals of Data Science</a></h3>
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-09" style="color: #ffff;"> 📄 [Python Syntax 09] 객체지향 프로그래밍</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-08" style="color: #ffff;"> 📄 [Python Syntax 08] Function, Module</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-07" style="color: #ffff;"> 📄 [Python Syntax 07] 문자열과 내장함수</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-02</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-06" style="color: #ffff;"> 📄 [Python Syntax 06] dictionary</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-05" style="color: #ffff;"> 📄 [Python Syntax 05] tuple</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-04" style="color: #ffff;"> 📄 [Python Syntax 04] list</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-03" style="color: #ffff;"> 📄 [Python Syntax 03] 반복문, 조건문</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-02" style="color: #ffff;"> 📄 [Python Syntax 02] 연산자</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        
        <h3 style="font-size: 80%; color: #ffff;"><a href="https://umrealengine.github.io/Python-Syntax-01" style="color: #ffff;"> 📄 [Python Syntax 01] 변수, 연산자</a></h3>
        <p style="font-size: 60%;"><i class="far fa-calendar-alt" style="color: #777;"></i><time datetime="2023-03-15T00:00:00+09:00" style="color: #777;"> 2023-07-01</time></p>
        

      </article>
    </div>
  </div>
</div> -->



<script>
  const listItems9 = document.querySelectorAll('.list__item9');
  listItems9.forEach(function(listItem9) {
    const toggleButton9 = listItem9.querySelector('.toggle9');
    toggleButton9.addEventListener('click', function() {
      listItem9.classList.toggle('open');
    });
  });

  const archiveItems9 = document.querySelectorAll('.archive__item9');
  archiveItems9.forEach(function(archiveItem9) {
    archiveItem9.style.transition = 'opacity 0.5s ease-out, max-height 0.5s ease-out';
    archiveItem9.style.maxHeight = '0';
    archiveItem9.style.opacity = '0';
  });

  const toggleButtons9 = document.querySelectorAll('.toggle9');
  toggleButtons9.forEach(function(toggleButton9) {
    toggleButton9.addEventListener('click', function() {
      const archiveContainer9 = toggleButton9.parentElement.querySelector('.archive__container9');
      const archiveItems9 = archiveContainer9.querySelectorAll('.archive__item9');
      
      archiveItems9.forEach(function(archiveItem9) {
        if (archiveItem9.style.maxHeight === '0px') {
          archiveItem9.style.maxHeight = 'initial';
          archiveItem9.style.opacity = '1';
        } else {
          archiveItem9.style.maxHeight = '0';
          archiveItem9.style.opacity = '0';
        }
      });
    });
  });
</script>








